@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:wght@400;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-main: "Inter", sans-serif;
  --font-title: "Berkshire Swash", cursive;
  --clr-neutral-900: hsl(0, 0%, 15%);
  --clr-neutral-800: hsl(0, 0%, 35%);
  --clr-neutral-200: hsl(0, 0%, 86%);
  --clr-neutral-100: hsl(0, 0%, 96%);
  --clr-accent: hsl(198, 20%, 37%);
  --clr-accent-hover: hsl(198, 20%, 47%);
  --clr-error: hsl(0, 65%, 45%);
  --clr-error-bg: hsl(0, 65%, 97%);
  --clr-success: hsl(146, 62%, 43%);
  --clr-banner-bg: hsla(0, 0%, 6%, 50%);
  --clr-shadow: hsla(0, 0%, 6%, 20%);
  --box-shadow: 6px 4px 8px var(--clr-shadow);
  color: var(--clr-neutral-900);
}

/* global defaults */

p {
  line-height: 1.8rem;
  max-width: 55ch;
}

h1,
h2,
h3 {
  line-height: 0.9em;
}

.body-container {
  display: flex;
  min-height: 100vh;

  font-family: var(--font-main);
}

/* left side of page */

.body-column-left {
  position: relative;
  text-align: center;
  background: var(--clr-neutral-200) url(./images/tea-background.jpg) no-repeat
    center;
  background-size: cover;
  color: var(--clr-neutral-100);
  width: 50vw;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  margin-top: max(10vh, 5rem);
  padding: 0.75em;

  background-color: var(--clr-banner-bg);

  font-family: var(--font-title);
  font-size: max(1.5rem, 2.5vw);
}

.tea-svg {
  font-size: 2em;
}

.reference {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  margin: auto;
}

.body-column-left a,
.body-column-left a:visited {
  color: var(--clr-neutral-100);
}

a:hover,
a:focus {
  font-weight: 800;
}

/* right side of the page */

.body-column-right {
  flex-grow: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

  background: var(--clr-neutral-200);
}

.body-column-right > * {
  padding: 0 3rem;
}

/* top section */

.header-container {
  margin-top: 3rem;
}

.header-container > p {
  margin-top: 1.7rem;
  font-size: clamp(14px, 1.125rem, 3vw);
}

.header-container > h2 {
  font-size: clamp(38px, 3.875rem, 4vw);
  color: var(--clr-accent);
  text-transform: uppercase;
}

.header-container > h3 {
  text-transform: uppercase;
  font-size: clamp(30px, 2.5rem, 3vw);
  font-weight: 800;
  color: var(--clr-neutral-800);
}

/* bottom section */

.bottom-container > button {
  margin-bottom: 1rem;
  padding: 1rem 3rem;
  outline: none;
  border: 0;
  border-radius: 8px;

  background: var(--clr-accent);
  box-shadow: var(--box-shadow);
  color: var(--clr-neutral-100);

  font-size: 1.125rem;
  font-weight: 800;

  transition: background ease-in 0.2s;
}

.bottom-container > button:hover,
.bottom-container > button:focus {
  background: var(--clr-accent-hover);
  transition: background ease-in 0.2s;
}

.body-column-right p a,
.body-column-right p a:visited {
  color: var(--clr-neutral-900);
}

.bottom-container {
  margin-bottom: 3rem;
}

/* github link */

.github {
  position: absolute;
  right: 0;
  bottom: 0;
}

.github a {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  font-weight: 800;

  transition: color ease-in 0.2s;
}

.github a:hover {
  color: var(--clr-accent);
  transition: color ease-in 0.2s;
}

.github img {
  height: 3rem;
}

/* form section */

.form-container {
  padding-block: 3rem;

  background: var(--clr-neutral-100);
  box-shadow: var(--box-shadow);
}

.form-container > h3 {
  font-size: 1.75rem;
  color: var(--clr-neutral-800);
}

.form-section {
  display: flex;
  margin-top: 2rem;
  gap: min(2.5vw, 5rem);
}

.form-left-column,
.form-right-column {
  flex-grow: 1;
  max-width: 22.5rem;
}

label {
  display: block;

  padding-block: 0.25rem;

  color: var(--clr-neutral-800);
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

input {
  display: flex;
  padding: 0.5rem 1rem;
  width: 100%;

  border: 2px solid var(--clr-neutral-200);
  border-radius: 4px;
  outline: none;

  font-size: 1rem;
}

span {
  display: block;
  height: 1rem;
  margin-block: 0.1rem;

  font-size: 0.75rem;
}

input::placeholder {
  color: hsl(0, 0%, 70%);
}

input:focus,
input:focus:invalid {
  border: 2px solid var(--clr-accent-hover);
  box-shadow: var(--box-shadow);
  transition: border ease-in 0.2s;
}

input.success:focus {
  border: 2px solid var(--clr-success);
  box-shadow: var(--box-shadow);
  transition: border ease-in 0.2s;
}

input.error {
  border: 2px solid var(--clr-error);
  background: var(--clr-error-bg);
  transition: border ease-in 0.2s;
}

.success {
  border: 2px solid var(--clr-success);
  transition: border ease-in 0.2s;
}

span.error {
  color: var(--clr-error);
}
